@{
        ViewData["Title"] = "Ayuda - SmarTrip";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=search" />
<h1> Te damos la bienvenida al servicio de soporte de SmarTrip </h1>
  <div class="container-fluid text-center">
<p> Consulta los siguientes recursos para encontrar soluciones a los problemas que tengas.</p>
    <form class="d-flex justify-content-center" role="search">
      <input class="form-control me-2" type="search" placeholder="Busca preguntas, palabras clave, temas..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit"> <img src= "~/img/lupa.png" alt="lupa"> </button>
    </form>
  </div>


<h2> Problemas más frecuentes </h2>
  <div class="container text-center">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary btn-no-hover"> <img class="ayuda" src="~/img/ayuda.png"> Guías <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary btn-no-hover"> <img class="ayuda" src="~/img/ayuda.png"> Cuenta y app <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary btn-no-hover"> <img class="ayuda" src="~/img/ayuda.png"> Seguridad <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary"> <img class="ayuda" src="~/img/ayuda.png"> Privacidad <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-primary"> <img class="ayuda" src="~/img/ayuda.png"> Accesibilidad <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary"> <img class="ayuda" src="~/img/ayuda.png"> Regístrate <img class="flecha" src="~/img/flecha.png"> </button>
        </div>
    </div>
</div>