@{
        ViewData["Title"] = "Ayuda - SmarTrip";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=search" />
<h1> Te damos la bienvenida al servicio de soporte de SmarTrip </h1>
<p> Consulta los siguientes recursos para encontrar soluciones a los problemas que tengas.</p>
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Busca preguntas, palabras clave, temas..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit"> <img src= "~/img/lupa.png" alt="lupa"> </button>
    </form>
  </div>