@{
    ViewData["Title"] = "Index";
}


<div class="main-content">
    <div class="text-section">
        <h1 id="comparaPrecios">Compará precios en un solo lugar</h1>
        <p ID="text-3-index">Con SmarTrip todo es más rápido</p>
        <div class="input-buttons">
        <input type="text" class="input-button" img src="~/img/ingresarUbi.png" alt="Icono de ubicación" placeholder="Ingresá tu ubicación">  
            
           
        <button class="input-button ingresarDest">  
            <img src="~/img/ingresarDest.png" alt="Icono de ubicación">
            Ingresá tu destino
        </button>
            <button class="cta-button">Ver precios</button>
        </div>
    </div>
    <div class="image-section">
    <img id="imgindex" src="~/img/FOTO INDEX.jpg" >
    </div>
</div>


    <h2 id="text-2-index">Es aún más fácil con la app</h2>
<div class="app-section">


    <div class="download-options">
        <div class="download-option">
            <img src="~/img/qr-android.png" alt="QR Android">
            <p>Descarga la app de SmarTrip</p>
            <span>Android</span>
        </div>
        <div class="download-option">
            <img src="~/img/qr-ios.png" alt="QR iOS">
            <p>Descarga la app de SmarTrip</p>
            <span>Apple</span>
        </div>
    </div>
</div>


<!-- Partner Logos Section -->
<div class="partners-section">
    <h2>Empresas con las que trabajamos</h2>
    <div class="partners">
        <img src="~/img/didi.png" alt="DiDi Logo">
        <img src="~/img/uber.png" alt="Uber Logo">
        <img src="~/img/cabify.png" alt="Cabify Logo">
    </div>
</div>
