@{
    ViewData["Title"] = "Index";
}

<div class="d-grid gap-2 d-md-block">
 <a href='@Url.Action("Login", "Home")' class="btn btn-primary" type="button">Login</a>
 <a href='@Url.Action("Registrarse", "Home")' class="btn btn-primary" type="button">Registrarse</a>
  <a href='@Url.Action("OlvideMiContraseña", "Home")' class="btn btn-primary" type="button">Olvidé mi contraseña</a>
</div>