@{
    ViewData["Title"] = "Index";
}


<div class="main-content">
    <div class="text-section">
        <h1 id="comparaPrecios">Compará precios en un solo lugar</h1>
        <p ID="text-3-index">Con SmarTrip todo es más rápido</p>
<form method="get" action="@Url.Action("Viajar", "Home")">
    <div class="text-section margin">
        <h2>Consultá un viaje</h2>
        <div class="input-container" >
            <input type="text" class="input-field" id="start" name="start" placeholder="Ingresá tu ubicación" onkeyup="predictDire('start')" required>
            <img src="~/img/ingresarUbi.png" alt="Icono de ubicación" class="input-icon">
            <ul id="start-suggestions" class="suggestions-list"></ul>
        </div>
        <div class="input-container">
                    <input type="text" class="input-field" id="end" name="end" placeholder="Ingresá tu destino" onkeyup="predictDire('end')" required>
            <img src="~/img/ingresarDest.png" alt="Icono de ubicación" class="input-icon">
            <ul id="end-suggestions" class="suggestions-list"></ul>
        </div>
    </div>

    <div class="input-buttons">
        <button type="submit" class="cta-button color">Ver precios</button>
    </div>
</form>

    </div>
    <div class="image-section">
    <img id="imgindex" src="~/img/FOTO INDEX.jpg" >
</div>
</div>


<h2 class="text-2-index">Es aún más fácil con la app</h2>
<div class="app-section">
    <div class="download-options">
        <div class="download-option">
            <img src="~/img/QR.png" alt="QR Android">
            <div class="download-text d-flex flex-column">
                <p class = "p-2">Descarga la app de SmarTrip</p>
                <span class = "p-2"><img src="~/img/logotipo-de-android.png"> Android</span>
            </div>
        </div>
        <div class="download-option">
            <img src="~/img/QR.png" alt="QR iOS">
            <div class="download-text">
                <p>Descarga la app de SmarTrip</p>
                <span><i class="fa-brands fa-apple fa-2xl" style="color: #000000;"></i> Apple</span>
            </div>
        </div>
    </div>
</div>


<!-- Partner Logos Section -->
<div>
    <h2 class="text-2-index">Empresas con las que trabajamos</h2>
    <div class="partners">
        <img src="~/img/didi.png" alt="DiDi Logo">
        <img src="~/img/uber.png" alt="Uber Logo">
        <img src="~/img/cabify.png" alt="Cabify Logo">
    </div>
</div>


<a class="color" href='@Url.Action("CalificarServicio", "Home")'> <button type="button" class="btn btn-secondary">Omitir </button></a>