<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
    <form action="post">
        <label for="email">Ingrese su email:</label>
            <input type="text" id="email" name="email" requiered>
        <label for="contrase침a">Ingrese su contrase침a:</label>
            <input type="text" name="contrase침a" requiered>
         <button type="button" onclick="login()">Iniciar sesi칩n</button>
    </form>
</body>
</html>
</body>
</html>