<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
    <form action="post">
        <label for="usuario">Ingrese su email o teléfono:</label>
            <input type="text" id="usuario" name="usuario" requiered>
        <label for="contraseña">Ingrese su contraseña:</label>
            <input type="text" id="contraseña" name="contraseña" requiered>
         <button type="button" onclick="login()">Iniciar sesión</button>
    </form>
</body>
</html>
</body>
</html>