@{
        ViewData["Title"] = "¿Quiénes somos? - SmarTrip";
}

<body>
    <h1> Somos tu empresa de confianza. </h1>
    <p> No queremos que las personas desperdicien tiempo ni dinero en la búsqueda del servicio perfecto. Nuestra misión es simple: permitir que todos encuentren el mejor servicio con un solo clic. </p>
    <p> Imaginamos un escenario donde cada argentino, sin preferencias por una empresa de transporte específica, elija SmarTrip como su guía confiable. </p>
</body>