@{
        ViewData["Title"] = "¿Quiénes somos? - SmarTrip";
}

<body>
<img src="~/img/quienessomos.png">
<div class = "contenedor">
<div class = "QS"> 
    <h1 class = "quienesSomos" > Somos tu empresa de confianza. </h1>
    <p> En SmarTrip, entendemos que el tiempo y el dinero son recursos valiosos. Nuestro compromiso es ayudarte a optimizarlos al máximo, brindándote una plataforma que simplifica tu búsqueda del servicio de transporte ideal. Queremos que puedas encontrar el servicio más conveniente, rápido y seguro con solo un clic. </p>
    <p>Nuestra misión es clara: facilitar el acceso a la mejor opción de transporte en cada situación, adaptándonos a tus necesidades y preferencias. Imaginamos un país en el que cada argentino, sin importar sus circunstancias o requerimientos, pueda confiar en SmarTrip como su guía confiable en el mundo del transporte privado. </p>
    <p>Nos dedicamos a construir una plataforma transparente, inclusiva y accesible, para que todos tengan la oportunidad de comparar precios y elegir el servicio que realmente les convenga. Trabajamos día a día para asegurar que cada viaje que tomes a través de SmarTrip esté respaldado por nuestra pasión por la excelencia y nuestra voluntad de hacer las cosas bien. </p>
    <p>Elige SmarTrip, y permítenos acompañarte en cada trayecto, asegurándote que siempre tendrás a mano la opción que mejor se adapte a tus expectativas y necesidades. </p>
</div>
    <img class = "aQS" src="../img/autitoqs.png" alt="Auto Quienes Somos">
</div>
</body>