@{
        ViewData["Title"] = "Registrarse - SmarTrip";
    }
<body>
    <div class="container-fluid">
        <h2>Registrarse en SmarTrip</h2>
        <form method="post" id="Registrarseform" asp-controller="Account" onsubmit="return enviarFecha();">
            <label for="nombre">Ingrese su nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Introducir nombre" required>
            
            <label for="apellido">Ingrese su apellido:</label>
            <input type="text" id="apellido" name="apellido" placeholder="Introducir apellido" required>
            
            <label>Ingrese su fecha de nacimiento y género:</label>
            <div style="display: flex; gap: 10px;">
                <input type="number" id="dia" name="dia" placeholder="Día" required style="flex: 1;">
                <select id="mes" name="mes" required style="flex: 1;">
                </select>
                <input type="number" id="año" name="año" placeholder="Año" required style="flex: 1;">
            </div>
            
            <select id="genero" name="genero" required>
                <option value="">Género</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Otro</option>
            </select>
            <input type="hidden" value="fecha" id="fecha" name="fecha">
            <div class="button-container">
                <button type="button" class="btn-secondary">Volver</button>
                <button type="submit" class="btn-primary">Continuar</button>
            </div>
        </form>
    </div>
</body>