@{
        ViewData["Title"] = "Registrarse - SmarTrip";
    }
<body>
    <div class="container">

    <form method="post" id="Registrarseform" asp-controller="Account" onsubmit="return enviarFecha();">
        <div class="form-group">
            <label for="nombre">Ingrese su nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introducir nombre" required>
        </div>

        <div class="form-group">
            <label for="apellido">Ingrese su apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introducir apellido" required>
        </div>

        <label>Ingrese su fecha de nacimiento y género:</label>
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" id="dia" name="dia" placeholder="Día" required>
            </div>
            <div class="col">
                <select class="form-control mes" id="mes" name="mes" required>
                    <option value="" selected>Mes</option>
                </select>
            </div>
            <div class="col">
                <input type="number" class="form-control" id="año" name="año" placeholder="Año" required>
            </div>
        </div>

        <div class="form-group genero">
            <select class="form-control" id="genero" name="genero" required>
                <option value="">Género</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <input type="hidden" value="fechaNacimiento" id="fechaNacimiento" name="fechaNacimiento">

        <div class="button-container">
            <button type="button" class="btn btn-secondary">Volver</button>
            <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
    </form>
</div>

</body>