 @{
        ViewData["Title"] = "Viajar - SmarTrip";
    }
<div class ="viajar">
<div>
        <div class="text-section">
            <h2>Consultá un viaje</h2>
            <div class="input-container">
                <input type="text" class="input-field" id="start" placeholder="Ingresá tu ubicación" required>
                <img src="~/img/ingresarUbi.png" alt="Icono de ubicación" class="input-icon">
            </div>
            <div class="input-container">
                <input type="text" class="input-field" id="end" placeholder="Ingresá tu destino" required>
                <img src="~/img/ingresarDest.png" alt="Icono de ubicación" class="input-icon">
            </div>
            <div class="input-container">
                <label for="fecha">Fecha:</label>
                <input type="date" class="input-field" id="fecha" placeholder="Selecciona la fecha" required>
            </div>
            <div class="input-container">
                <label for="hora">Hora:</label>
                <input type="time" class="input-field" id="hora" placeholder="Selecciona la hora" required>
            </div>
            <div class="input-buttons">
                <button id="openModalBtn" type="submit" onclick="buscarRutaDesdeFormulario()" class="cta-button">Ver precios</button>
            </div>
        </div>
    </div>
<div id="overlay" class="overlay">
  <div class="overlay-content">
    <h3 id="eligeRuta">Elige un viaje</h3>
    <div class="contPrecio">
      <img src="~/img/didi.png" alt="DiDi Logo">
      <img id = "auto" src="~/img/auto png.png" alt="auto png">
      <div class = "texto">
      <h4 id = "precio1">--</h4>
      <h6 class="tiempo" id = "tiempo">--</h6>
    </div>
    </div>
    
    <div class="contPrecio">
      <img src="~/img/uber.png" alt="Uber Logo">
      <img id = "auto" src="~/img/auto png.png" alt="auto png">
      <div class = "texto">
      <h4 id = "precio2">--</h4>
      <h6 class="tiempo" id = "tiempo1">--</h6>
    </div>
    </div>
    <div class="contPrecio">
      <img src="~/img/cabify.png" alt="Cabify Logo">
      <img id = "auto" src="~/img/auto png.png" alt="auto png">
      <div class = "texto">
      <h4 id = "precio">--</h4>
      <h6 class="tiempo" id = "tiempo2">--</h6>
    </div>
    </div>
  </div>
</div>
    <div id="map" style="height: 100%; width: 30%;"></div>
</div>
