 @{
        ViewData["Title"] = "Viajar - SmarTrip";
    }
<div class ="viajar">

<div>
<h2> Consultá un viaje </h2>
<div class="text-section">
<div class="input-container">
  <input type="text" class="input-field" id="start" placeholder="Ingresá tu ubicación">
  <img src="~/img/ingresarUbi.png" alt="Icono de ubicación" class="input-icon">
</div>
<div class="input-container">
  <input type="text" class="input-field" id="end" placeholder="Ingresá tu destino">
  <img src="~/img/ingresarDest.png" alt="Icono de ubicación" class="input-icon">
</div>
<div class="input-container">
  <label for="fecha">Fecha:</label>
  <input type="date" class="input-field" id="fecha" placeholder="Selecciona la fecha">
</div>
<div class="input-container">
  <label for="hora">Hora:</label>
  <input type="time" class="input-field" id="hora" placeholder="Selecciona la hora">
</div>
    <div class="input-buttons">
    <button type="submit" class="cta-button">Ver precios</button>
    <button class="cta-button" onclick="buscarRuta()">Buscar Ruta</button>   
</div>
</div>
</div>
<div id="map" style="height: 600px; width: 30%;"></div>
</div>
