.rating {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}
.estrella {
    font-size: 40px;
    margin: 0.2%;
    cursor: pointer;
    color: #90e0ef;
}
.rating input[type="radio"] {
    display: none;
}

.rating input[type="radio"]:checked ~ label,
.rating input[type="radio"]:checked ~ label ~ label {
    color: #00b4d8;
}

.form-control{
    resize: none;
    margin-top: 1% !important;
}

.form-floating label {
    color: #8ec7d1 !important;
}

.form-group.metodoPago
{
    font-family: 'parrafos';
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 4%;
    margin-left: -20%;
    padding-left: 5%;
    background-color: #CAF0F8;
    border-radius: 25px; /* Ajuste del borde redondeado */
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: 5%;
}

.form-control-pago{
    background-color: #CAF0F8;
    border: none;
}

