html {
  font-size: 14px;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}
@font-face {
  font-family: 'parrafos';
  src: url('/tipografias/Mondapick.ttf') 
}
@font-face {
  font-family: 'titulos';
  src: url('/tipografias/coolvetica.otf') 
}
input::placeholder
  {
    color: #03045E;
  }
input, select{
  width: 100%;
  height: 60px;
  background-color: #CAF0F8;
}
.navbar-nav {
  --bs-nav-link-hover-color: #009acd !important;
}
.formcontrol
{
  font-size: larger;
  padding: .375rem .75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'titulos';
}
p, a {
  font-family: 'parrafos';
  font-size: 20px;
}
.container {
  padding: 20px 50px;
}
h2 {
  color: #002060 !important;
  margin-top: 2% !important;
  font-weight: bold;
}


.toggle-link{
  color: #0077b6 !important;
}
h1{
  color: #002060 !important;
  font-weight: bold;
  margin-top: 5% !important;
}
label {
  font-weight: bold;
  color: #002060;
}
.button-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
}
.btn-primary {
  font-family: 'parrafos';
  width: 170px;
  background-color: #00b4d8 !important;
  border: none !important;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #009acd;
}
.btn-secondary {
  width: 170px;
  background-color: #caf0f8 !important;
  border: none !important;
  padding: 10px;
  font-size: 18px;
  color: #03045e !important;
  cursor: pointer;
  border-radius: 5px;
}
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: #5a5a5a;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.color{
  color: white;
  text-decoration: none;

}


.registro{
  margin-top: 1%;
}
.margin{
  margin-top: 4%;
  margin-bottom: 4%;
}

.ingresosRegistrarse
{
  font-size: 30px;
  font-weight:normal;
}

.button-container{
  margin: 3%;
}

button[type=submit]
{
  font-family: 'parrafos';
}
.navbar-custom {
  background-color: #03045E; /* Azul oscuro */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.btn-register {
  background-color: #00C8C8;
  color: white;
}
.footer {
  background-color: #03045E; /* Azul oscuro */
  color: #FFFFFF;
  padding: 20px 0;
}
.footer .social-icons a {
  color: #00B4D8 !important;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.colorVolver{
background-color: #caf0f8;
}
.bton
{
  --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.colorContinuar{
  background-color:#00B4D8;
}
.navbar-custom {
  background-color: #03045E; /* Azul oscuro */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.btn-register {
  background-color: #00C8C8;
  color: white;
}
.footer {
  background-color: #03045E; /* Azul oscuro */
  color: #FFFFFF;
  padding: 20px 0;
}
.footer a {
  color: #00C8C8;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.btn-outline-success{
  width: 3.5%;
  background-color: #03045E !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-bg: none !important;
}
.me-2{
  width: 40% !important;
}

button img{
  width: 100%;
}

.container-fluid
{
  margin-left: auto !important;
  margin-right: auto !important;
}

.ayuda{
  width: 12%;
}

.flecha{
  width: 7%;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-primary {
  color: #03045E !important;
  --bs-btn-color: #00B4D8 !important;
  --bs-btn-border-color: #00B4D8 !important;
  font-family: 'parrafos' !important;
  font-size: 25px !important;
  width: 50%;

}
.qs
{
  text-align: start !important;
}
.footer {
  background-color: #0a014f;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .logo-section img {
  width: 60%;
  height: 30%;
}

.footerEspacio
{
  display: flex !important;
  justify-content: space-between !important;
}


html {
  font-size: 14px;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}
@font-face {
  font-family: 'parrafos';
  src: url('/tipografias/Mondapick.ttf') 
}
@font-face {
  font-family: 'titulos';
  src: url('/tipografias/coolvetica.otf') 
}
input::placeholder
  {
    color: #03045E;
  }
input, select{
  width: 100%;
  height: 60px;
  background-color: #CAF0F8;
}
.navbar-nav {
  --bs-nav-link-hover-color: #009acd !important;
}
.formcontrol
{
  font-size: larger;
  padding: .375rem .75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'titulos';
}
p, a {
  font-family: 'parrafos';
  font-size: 20px;
}
.container {
  padding: 20px 50px;
}
h2 {
  color: #002060 !important;
  margin-top: 2% !important;
  font-weight: bold;
}


.toggle-link{
  color: #0077b6 !important;
}
h1{
  color: #002060 !important;
  font-weight: bold;
  margin-top: 5% !important;
}
label {
  font-weight: bold;
  color: #002060;
}
.button-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 30px;
}
.btn-primary {
  font-family: 'parrafos';
  width: 170px;
  background-color: #00b4d8 !important;
  border: none !important;
  padding: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #009acd;
}
.btn-secondary {
  width: 170px;
  background-color: #caf0f8 !important;
  border: none !important;
  padding: 10px;
  font-size: 18px;
  color: #03045e !important;
  cursor: pointer;
  border-radius: 5px;
}
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: #5a5a5a;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.color{
  color: white;
  text-decoration: none;

}


.registro{
  margin-top: 1%;
}
.margin{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: -1% !important;
}

.ingresosRegistrarse
{
  font-size: 30px;
  font-weight:normal;
}

.button-container{
  margin: 3%;
}

button[type=submit]
{
  font-family: 'parrafos';
}
.navbar-custom {
  background-color: #03045E; /* Azul oscuro */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.btn-register {
  background-color: #00C8C8;
  color: white;
}
.footer {
  background-color: #03045E; /* Azul oscuro */
  color: #FFFFFF;
  padding: 20px 0;
}
.footer a {
  color: #00C8C8;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.colorVolver{
background-color: #caf0f8;
}
.bton
{
  --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.colorContinuar{
  background-color:#00B4D8;
}
.navbar-custom {
  background-color: #03045E; /* Azul oscuro */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.btn-register {
  background-color: #00C8C8;
  color: white;
}
.footer {
  background-color: #03045E; /* Azul oscuro */
  color: #FFFFFF;
  padding: 20px 0;
}
.footer a {
  color: #00C8C8;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.btn-outline-success{
  width: 3.5%;
  background-color: #03045E !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-bg: none !important;
}
.me-2{
  width: 40% !important;
}

button img{
  width: 100%;
}

.container-fluid
{
  margin-left: auto !important;
  margin-right: auto !important;
}

.ayuda{
  width: 12%;
}

.flecha{
  width: 7%;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-primary {
  --bs-btn-hover-bg: #caf0f8 !important;
  color: #03045E !important;
  --bs-btn-color: #00B4D8 !important;
  --bs-btn-border-color: #00B4D8 !important;
  font-family: 'parrafos' !important;
  font-size: 25px !important;
  width: 50%;

}
.qs
{
  text-align: start !important;
}
.footer {
  background-color: #0a014f;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;
}
.botonlupa{
  margin-top: 1%;
}
.footer2 {
  border: none;
  background-color: #ffffff;
  margin-top: 9%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .links {
  display: flex;
  padding-left: 50%;
  padding-right: 50%;
  gap: 40px;
  text-align: center;
  border-right: SOLID 1px;
  border-left: solid 1px;
}
.footer .links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.footer .links a:hover {
  text-decoration: underline;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
}
.footer .social-icons a:hover {
  color: #0077cc;
}
.footerEspacio
{
  display: flex !important;
  justify-content: space-between !important;
}
.qs{
  width: max-content;
}

.quienesSomos{
  color: #0077B6 !important; 
  font-size: 50px;
}

.contenedor
{
  display: flex;
  justify-content: space-between;
}
.QS{
  float: left;
  margin-left: 4% !important;
  width: 50%;
  margin: 1%;
}

.aQS{
  margin: 3%;
  align-items: end;
  width: 30%;
  height: 30%;
  border-radius: 8%;

}

#map {
  height: 500px;
  width: 100%;
  border-radius: 5%;
}
.viajar
{
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 4%;
  /* Estilos para el overlay */
.overlay {
  display: none; 
  margin-left: 3%;
}
.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin-left: -4%;
}

/* Botón para cerrar el overlay */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

}

#eligeRuta{
  font-size: 230%;
  font-family: parrafos;
  color:#03045E;
}
.texto{
  text-align: center;
  margin-top: 2%;
margin-left: 7%;
}
.contPrecio{
  display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 4%;
    margin-left: -20%;
    padding-left: 5%;
    background-color: #CAF0F8;
    border-radius: 25px; /* Ajuste del borde redondeado */
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: 5%;
}

.contPrecio img{
  width: 50%;
  height: 50%;
  border-radius: 9px;
}

.auto{
  width: 100%;
  height: 100%;
}